<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>
<p>
  <strong>Tel:</strong>
  <%= @restaurant.TEL %>
</p>
<strong>URL:</strong>
  <%= @restaurant.URL %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @restaurant.rank %>
</p>

<p>
  <strong>Price:</strong>
  <%= @restaurant.price %>
</p>

<p>
  <strong>Fjpn:</strong>
  <%= @restaurant.fjpn %>
</p>

<p>
  <strong>Fchina:</strong>
  <%= @restaurant.fchina %>
</p>

<p>
  <strong>Fitarian:</strong>
  <%= @restaurant.fitarian %>
</p>
<p>
  <strong>Ffrench:</strong>
  <%= @restaurant.ffranch %>
</p>
<p>
  <strong>Fspanish:</strong>
  <%= @restaurant.fspanish %>
</p>

<p>
  <strong>Fother:</strong>
  <%= @restaurant.fother %>
</p>

<p>
  <strong>Sdate:</strong>
  <%= @restaurant.sdate %>
</p>

<p>
  <strong>Sconpa:</strong>
  <%= @restaurant.sconpa %>
</p>

<p>
  <strong>Sfever:</strong>
  <%= @restaurant.sfever %>
</p>

<p>
  <strong>Sother:</strong>
  <%= @restaurant.sother %>
</p>
<p>
  <strong>extraText1:</strong>
  <%= @restaurant.extraText1 %>
</p>
<p>
  <strong>extraText2:</strong>
  <%= @restaurant.extraText2 %>
</p>
<p>
  <strong>extraText3:</strong>
  <%= @restaurant.extraText3 %>
</p>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
